/**** GENERALI ****/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* utility */
.container{
  width: 80%;
  margin: 0 auto;
}
.overlay{
  height: 400px;
  background-color: #00000042;
}

.img{
  max-width: 100%;
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/****** HEADER  ******/
.header-top{
  margin-bottom: 20px;  
}

.logo img{
  height: 50px;
  border-right: 1px solid lightgrey;
  padding-right: 15px;
}

/* menu */
nav li{
  list-style: none;
  display: inline-block;
  padding-top: 25px;
  padding-right: 5px;
}

nav a, nav a:visited{
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
  
}

nav a:hover, nav a:active{
  color: orange;
}

/* jumbotron */
.jumbotron{
  height: 400px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 7px;
}

.jumbo-text{
  height: 100%; 
  border-radius: 7px;
  padding: 20% 0 10% 40px;
}

.jumbotron p{
  width: 60%;
  color: white;
}

.jumbo-title{
  font-size: 30px;
}

.jumbo-subtitle{
  font-size: 15px;
}

.jumbo-subtitle::after{
  content: '...';
}


/****** MAIN  ******/
main{
  padding-bottom: 10px;
}

.main-top{
  margin-bottom: 20px;
}

.main-top p{
  color: grey;
}

.img.money{
  background-image: url(../img/img-1.jpg);
}

.img.computer{
  background-image: url(../img/banner-2.jpg);
  
}

.img.idea{
  background-image: url(../img/img-3.jpg);
}

section.paragraph p{
  margin-top: 10px;
}

.text{
  color: grey;
}

aside, .content{
  float: left;
}

aside{
  width: 18%;
  min-height: 200px;
}

.left, .content{
  margin-right: 2%;
}

.content{
  width: 60%;
  min-height: 200px;
}

/****** FOOTER  ******/
footer{
  min-height: 40px;
  margin-top: 50px;
}

footer p{
  text-align: center;
}